# dependencies
/frontend/node_modules
/backend/node_modules

# next.js
/frontend/.next/

# production
/frontend/build
/backend/dist

# local env files
/frontend/.env.local
/backend/.env

# typescript
/frontend/next-env.d.ts
