.button {
  padding: 1rem;

  border-radius: 8px;
  background: $blue-dark;

  color: $gray-100;
  font-weight: 500;
  font-family: inherit;

  border: 1px solid $gray-200;

  cursor: pointer;

  transition: background 0.2s ease;

  &:hover {
    background: $blue;
  }
}
