// Colors //
$white: #fff;
$gray-100: #f2f2f2;
$gray-200: #d9d9d9;
$gray-300: #808080;
$gray-400: #333333;
$gray-600: #1a1a1a;
$gray-700: #0d0d0d;
$purple: #8284fa;
$blue: #2d83b9;
$blue-dark: #1e6f9f;

// Fonts //
$font-tiny: 1.2rem;
$font-small: 1.4rem;
$font-medium: 1.6rem;
$font-large: 1.8rem;
$font-big: 2rem;
$font-huge: 2.2rem;
